<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="primary" (click)="close();">
      <ion-button>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="wholeContent">
  <ion-item-sliding  *ngFor="let item of notification">
    <ion-item (click)="openview()">
      <ion-label color="primary" style="font-weight:bold;">{{item.title}}<br>
        <ion-card-subtitle text-wrap>{{item.message}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.date_due}}</ion-card-subtitle>
      </ion-label>
      <ion-label color="primary" style="font-weight:bold;text-align: end;">
        <ion-icon [name]="item.icon" color="primary" style="font-size: 30px;"></ion-icon>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="light">
        <ion-icon name="trash" color="danger" style="font-size: 25px;"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

 

</ion-content>