<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
        <ion-title>
          Vehicles
        </ion-title>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="presentPopover($event);">
          <ion-icon slot="icon-only" name="person" style="color:white;" class="hydrated"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

</ion-content>
