<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Service</ion-title>
    <ion-buttons slot="primary" (click)="close();">
      <ion-button>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content class="wholeContent">
  <!-- <form (submit)="processAddService($event)" >
        <ion-card>
          <ion-card-content>
            <ion-list lines="none">
              <ion-item>
                <div class="splash-logo"></div>
              </ion-item>
              <ion-item>
                <ion-label>Vehicle Name</ion-label>
                <ion-select placeholder="Select One" text-wrap>
                  <ion-select-option *ngFor="let car of cars" [value]="car.vinfo_id">{{car.vname}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Service Type</ion-label>
                <ion-select placeholder="Select One" text-wrap>
                  <ion-select-option value="Sample Service 1">Sample Service 1</ion-select-option>
                  <ion-select-option value="Sample Service 2">Sample Service 2</ion-select-option>
                  <ion-select-option value="Sample Service 3">Sample Service 3</ion-select-option>
                  <ion-select-option value="Sample Service 4">Sample Service 4</ion-select-option>
                </ion-select>
              </ion-item>
    
              <ion-item>
                  <ion-icon item-left name="compass" style="color:#107dac"></ion-icon>
                    <ion-label style="margin-left: 25px">Service Center :</ion-label>
                    <ion-input type="text"  clearInput style="color:black"></ion-input>  
                  </ion-item>
                  <ion-item>
                    <ion-icon item-left name="cash" style="color:#107dac"></ion-icon>
                      <ion-label style="margin-left: 25px">Service Cost :</ion-label>
                      <ion-input type="number"  clearInput style="color:black"></ion-input>  
                    </ion-item>
                
                  
                      <ion-item>
                        <ion-icon item-left name="speedometer" style="color:#107dac"></ion-icon>
                          <ion-label style="margin-left: 25px">Odometer Reading :</ion-label>
                          <ion-input type="text"  clearInput style="color:black"></ion-input>  
                        </ion-item>
                    
                  <ion-item>
                      <ion-icon item-left name="list" style="color:#107dac"></ion-icon>
                        <ion-label style="margin-left: 25px">Note :</ion-label>
                        <ion-input  clearInput></ion-input>
                </ion-item>
              <ion-button type="submit" expand="block" fill="solid" style="margin-top:10px">
                <ion-icon slot="icon-only" name="checkmark"></ion-icon>
              </ion-button>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </form> -->
  <ion-icon name="construct" color="primary" style="font-size:50px;position:relative;top:40px;left:43%;"></ion-icon>
  <br><br><br><br>
  <ion-card style="background-color:white;" padding>
    <form (submit)="processAddService($event)">
      <ion-item>
        <ion-card-subtitle style="font-size:12px;"><span style="color:#4d9d46;font-weight:bold;">Note:</span> All
          information with <span style="color:#4d9d46;font-weight:bold;font-size:20px;">*</span> are required
        </ion-card-subtitle><br>
        <ion-label position="stacked" color="primary">Service Date *</ion-label>
        <ion-input type="date" clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Service name *</ion-label>
        <ion-input clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Next Service Schedule *</ion-label>
        <ion-input type="date" clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Amount</ion-label>
        <ion-input type="number" clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Vehicle Name</ion-label>
            <ion-select placeholder="Select One" text-wrap>
              <ion-select-option *ngFor="let car of cars" [value]="car.vinfo_id">{{car.vname}}</ion-select-option>
            </ion-select>
          </ion-item>
   
      <ion-item>
        <ion-label position="stacked" color="primary">Service Provider</ion-label>
        <ion-input clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Note</ion-label>
        <ion-textarea clearInput height="20px"></ion-textarea>
      </ion-item>
      <div class="image-upload">
        <label for="file-input">
    
            <div *ngIf="base64textString ; else notShow"><img   src={{base64textString}} alt="" id="img"></div>
            <ng-template #notShow>
              <img src="../../assets/imgs/imag1.png" style="position:relative;top:20px;left:35%;height:85px;width:105px;">
          </ng-template>
    
    
         
        </label>
      
        <input id="file-input" type="file" accept="image/*" (change)="changeListener($event)"/>
      </div>
    
      <!-- <ion-icon name="images" style="font-size:60px;position:relative;top:20px;left:43%;color:rgb(222,225,230);">
      </ion-icon><br><br> -->
      <br><br>
      <ion-card-subtitle style="text-align:center;">Tap to upload image</ion-card-subtitle><br><br><br>
      <ion-button expand="full" type="submit" color="primary">Add</ion-button>
    </form>
  </ion-card>

</ion-content>