.wholeContent{
    // --ion-background-color: rgb(249,250,252);
    --ion-background-color: rgb(230,240,242);
}
ion-card{
    --ion-background-color: white;
}
.searcbar{
    --ion-background-color: white;
}
.image-upload>input {
    display: none;
  }