<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Edit Vehicle</ion-title>
      <ion-buttons slot="primary" (click)="close();">
        <ion-button>
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="wholeContent">
  <!-- <form (submit)="processAddVehicle($event)">
    <ion-card>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <div class="splash-logo"></div>
          </ion-item>

          <ion-item>
            <ion-label>Vehicle Type</ion-label>
            <ion-select placeholder="Select One" text-wrap>
              <ion-select-option value="Car">Car</ion-select-option>
              <ion-select-option value="Motorcycle">Motorcycle</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-icon item-left name="card" style="color:#107dac"></ion-icon>
            <ion-label style="margin-left: 25px">Name :</ion-label>
            <ion-input type="text" clearInput style="color:black"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon item-left name="car" style="color:#107dac"></ion-icon>
            <ion-label style="margin-left: 25px">Model :</ion-label>
            <ion-input type="text" clearInput style="color:black;"></ion-input>
          </ion-item>


          <ion-item>
            <ion-icon item-left name="list" style="color:#107dac"></ion-icon>
            <ion-label style="margin-left: 25px">Note :</ion-label>
            <ion-input clearInput></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon item-left name="calendar" style="color:#107dac"></ion-icon>
            <ion-label style="margin-left: 25px">Year :</ion-label>
            <ion-input clearInput></ion-input>
          </ion-item>
          <ion-button type="submit" expand="block" fill="solid" style="margin-top:10px">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </form> -->

  <ion-icon name="car" color="primary" style="font-size:70px;position:relative;top:40px;left:43%;"></ion-icon>
  <br><br><br><br>
  <ion-card style="background-color:white;" padding>
    <form (submit)="processUpdVehicle($event)">
      <ion-item>
          <ion-card-subtitle style="font-size:12px;"><span style="color:#4d9d46;font-weight:bold;">Note:</span> All
            information with <span style="color:#4d9d46;font-weight:bold;font-size:20px;">*</span> are required
          </ion-card-subtitle><br>
          <ion-label position="stacked" color="primary">Vehicle Type *</ion-label>
          <ion-select placeholder="Select One" text-wrap>
            <ion-select-option [selected]="vd[0].vtype=='4 Wheels'" value="4 Wheels">4 Wheels</ion-select-option>
            <ion-select-option [selected]="vd[0].vtype=='Motorcycle'" value="Motorcycle">Motorcycle</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="primary">Vehicle Name *</ion-label>
          <ion-input clearInput [value]="vd[0].vname"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Vehicle Model *</ion-label>
        <ion-input clearInput [value]="vd[0].vmodel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Vehicle Year *</ion-label>
        <ion-input type="text" clearInput [value]="vd[0].vyear"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Coding Schedule *</ion-label>
        <ion-select placeholder="Select One" text-wrap>
          <ion-select-option value="Monday" [selected]="vd[0].vcoding=='Monday'">Monday</ion-select-option>
          <ion-select-option value="Tuesday" [selected]="vd[0].vcoding=='Tuesday'">Tuesday</ion-select-option>
          <ion-select-option value="Wednesday" [selected]="vd[0].vcoding=='Wednesday'">Wednesday</ion-select-option>
          <ion-select-option value="Thursday" [selected]="vd[0].vcoding=='Thursday'">Thursday</ion-select-option>
          <ion-select-option value="Friday" [selected]="vd[0].vcoding=='Friday'">Friday</ion-select-option>
          <!-- <ion-select-option value="Motorcycle">Saturday</ion-select-option>
          <ion-select-option value="Motorcycle">Sunday</ion-select-option> -->
        </ion-select>
      </ion-item>
      <!-- <ion-item>
        <ion-label position="stacked" color="primary">Odd/Even Scheme Schedule</ion-label>
        <ion-input type="text" clearInput></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label position="stacked" color="primary">Note</ion-label>
        <ion-textarea type="text" clearInput height="20px" [value]="vd[0].vnotes"></ion-textarea>
      </ion-item>
      <div class="image-upload">
        <label for="file-input">
    
            <div *ngIf="base64textString ; else notShow"><img   src={{base64textString}} alt="" id="img" ></div>
            <ng-template #notShow>
                <img src="../../assets/imgs/imag1.png" style="position:relative;top:20px;left:35%;height:85px;width:105px;"/>
          </ng-template>         
        </label>
      
        <input id="file-input" type="file" accept="image/*" hidden (change)="changeListener($event)"/>
      </div>
       <br><br>
      <ion-card-subtitle style="text-align:center;">Tap to upload image</ion-card-subtitle><br><br><br>
      <ion-button type="submit" expand="full" color="primary">Update</ion-button>
    </form>
  </ion-card>

</ion-content>