<!-- <ion-header >
  <ion-toolbar >
      <ion-button slot="start" fill="clear">
        <ion-menu-button></ion-menu-button>
      </ion-button>
    <ion-title style="color:white">View</ion-title>
    <ion-button slot="end" fill="clear" >
      <ion-icon name="paper"></ion-icon>
    </ion-button>
  </ion-toolbar >
</ion-header>
<ion-content >
  <ion-card *ngFor="let item of vd">
    <ion-item>
      <ion-icon name="car" slot="start" style="font-size:60px;color:#107dac" ></ion-icon>
      <ion-label>{{ item.vname}}<p style="font-size: 14px;margin-top:-2px;margin-bottom: 0">{{item.vtype}} - {{item.vmodel}}</p>
      </ion-label>
    </ion-item>
    <ion-card-content >
      <p><span>Service Date: </span><span>{{item.sdate |date:'mediumDate'}}</span> </p>
      <p><span>Service Type: </span><span>{{item.stype}}</span> </p>
      <p><span>Service Cost: </span><span>₱ {{item.scost |number : '1.2-2' }}</span> </p>
      <p><span>Service Center: </span><span>{{item.scenter}}</span> </p>
    </ion-card-content>
  </ion-card>
</ion-content> -->


<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Service Details</ion-title>
    <ion-buttons slot="primary" (click)="close();">
        <ion-button >
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
  <img src="{{vd.simage_data}}" style="height:2%;text-align:center;">
</ion-row>
<ion-row style="background-color:#4d9d46;text-align:center;">
  <ion-col size="6">
    <p style="color:white;font-size:18px;">{{vd.stype}}<br><span
        style="color:rgb(247,247,247);font-size:12px;text-transform: uppercase;">Service Name</span></p>
  </ion-col>

  <ion-col size="6">
    <p style="color:white;font-size:18px;">{{vd.sdue  | date : 'MMMM dd, y' }}<br><span
        style="color:rgb(247,247,247);font-size:12px;text-transform: uppercase;">Next Schedule Date</span></p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item style="color:rgb(123,123,123);font-size:14px;">
      <ion-label color="primary">Service Date</ion-label>
      <ion-label>{{vd.sdate  | date : 'MMMM dd, y' }}</ion-label>
    </ion-item>
    <ion-item style="color:rgb(123,123,123);font-size:14px;" text-wrap>
        <ion-label color="primary">Amount</ion-label>
        <ion-label style="white-space: normal;">₱ {{vd.scost  | number:'.2-2'}}</ion-label>
      </ion-item>
    <ion-item style="color:rgb(123,123,123);font-size:14px;">
      <ion-label color="primary">Vehicle Type</ion-label>
      <ion-label>{{vd.vtype}}</ion-label>
    </ion-item>
    <ion-item style="color:rgb(123,123,123);font-size:14px;">
      <ion-label color="primary">Vehicle Name</ion-label>
      <ion-label style="white-space: normal;">{{vd.vname}}</ion-label>
    </ion-item>
    <ion-item style="color:rgb(123,123,123);font-size:14px;">
      <ion-label color="primary">Service Center</ion-label>
      <ion-label style="white-space: normal;">{{vd.scenter}}</ion-label>
    </ion-item>
    <ion-item style="color:rgb(123,123,123);font-size:14px;">
      <ion-label color="primary">Note</ion-label>
      <ion-label style="white-space: normal;">{{vd.snotes}}</ion-label>
    </ion-item>
  </ion-col>
</ion-row>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="navs" (click)='add()'>
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>