<ion-content scroll="false" style="background-color: #2da2d4">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      WELCOME
    </div>
  </div>
  <div padding>
    <ion-button expand="block" (click)="signup()" class="login">Sign up</ion-button>
    <ion-button expand="block" (click)="login()" class="login">Log in</ion-button>
  </div>
</ion-content>
