<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>
        Services
      </ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="notification()">
        <ion-icon slot="icon-only" name="notifications" style="color:white;" class="hydrated"></ion-icon>
        <!-- <ion-badge color="danger">12</ion-badge> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="wholeContent">
  <ion-searchbar placeholder="Search" autocomplete="on" class="searcbar" padding></ion-searchbar>


  <ion-card style="border-right: 3px solid #4d9d46;" *ngFor="let item of sd; let i = index">
      <ion-item-sliding>
        <ion-item (click)="openview(i)">
          <ion-label color="primary">{{item.stype}}<br>
            <ion-card-subtitle>₱ {{item.scost |number : '1.2-2' }}</ion-card-subtitle>
          </ion-label>
          <ion-card-subtitle text-wrap style="text-align:end;">{{ item.sdate| date:'mediumDate'}}<br>
            <ion-card-subtitle>{{item.vname}}</ion-card-subtitle>
          </ion-card-subtitle>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="light"><ion-icon name="trash" color="danger" style="font-size: 25px;" (click)="deleteAlert(item.srecord_id);"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>


<!-- <ion-content>
<ion-card *ngFor="let item of sd">

  <ion-item>
    <ion-icon name="construct" slot="start" style="font-size:40px;color:#107dac"></ion-icon>
    <ion-label>{{item.vname}}</ion-label>
    <ion-button fill="clear" item-end (click)="view(item.srecord_id)">View</ion-button>
  </ion-item>

  <ion-card-content>
    <p *ngIf="item.sdate ; else notShow"><span
        style="font-size: 100%;color:green">{{ item.sdate| date:'mediumDate'}}</span><span
        style="float:right;font-size: 100%;color:green">₱ {{item.scost |number : '1.2-2' }}</span></p>
    <ng-template #notShow>
      <p><span style="font-size: 100%;color:green">{{today | date:'mediumDate'}}</span><span
          style="float:right;font-size: 100%;color:green">₱ {{item.scost |number : '1.2-2' }}</span></p>
    </ng-template>
    <p>{{item.stype}}</p>
  </ion-card-content>
</ion-card>

<ion-list>
        <ion-item *ngFor="let item of sd">
            <ion-icon name="construct" item-start  style="font-size:60px;color:#107dac" ></ion-icon>
            <ion-label>
              <h2>{{item.scost}}</h2>
              <h3>{{item.vrecord_id}}</h3>
              <p><span style="float:left">{{item.sdate | date:'mediumDate'}}</span></p>
            </ion-label>
          </ion-item>
    </ion-list>


</ion-content> --> <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button class="navs" (click)='add()'>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

</ion-fab>