<ion-content class="bg">
  <div class="splash-logo">
    <!-- <ion-label style="color:white;letter-spacing:14px;font-weight:bold;">ROAD MATE</ion-label> -->
    <img src="./assets/imgs/rmlogo1.png" style="position:relative;">
  </div>
  <div padding>
    
    <form (submit)="processLogin($event)">

      <ion-item>
        <!-- <ion-label style="color: black">Email Address</ion-label> -->
        <ion-input type="text" placeholder="Email" clearInput style="color:black;"></ion-input>
      </ion-item>

      <ion-item style="margin-top:2%;">
        <!-- <ion-label style="color: black">Password</ion-label> -->
        <ion-input type="password" placeholder="Password" clearInput style="color:black;" color="light"></ion-input>
      </ion-item>

      <div text-center style="margin-top:5%;">
        <ion-button type="submit" expand="block" fill="outline" color="light">Log in</ion-button>
        <ion-button (click)="register()" expand="block" fill="outline" color="light">Register</ion-button>
        <!-- <ion-button fill="clear" class="login" (click)="register()" >Register</ion-button> -->
      </div>
    </form>
  </div>

</ion-content>