<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Expenses</ion-title>
      <ion-buttons slot="primary" (click)="close();">
          <ion-button >
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <!-- <ion-card *ngFor="let item of vd">
    <ion-item>
      <ion-icon name="car" slot="start" style="font-size:60px;color:#107dac" ></ion-icon>
      <ion-label>{{ item.vname}}<p style="font-size: 14px;margin-top:-2px;margin-bottom: 0">{{item.vtype}} - {{item.vmodel}}</p>
      </ion-label>
    </ion-item>
    <ion-card-content >
      <p><span>Fuel Date: </span><span>{{item.fdate |date:'mediumDate'}}</span> </p>
      <p><span>Fuel Type: </span><span>{{item.ftype}}</span> </p>
      <p><span>Fuel Quantity: </span><span>{{item.fquantity}}</span> </p>
      <p><span>Fuel Cost: </span><span>₱ {{item.fcost |number : '1.2-2' }}</span> </p>
      <p><span>Fuel Center: </span><span>{{item.fstation}}</span> </p>
    </ion-card-content>
  </ion-card> -->

  <ion-row>
    <img src="../../assets/imgs/preview.png" style="height:2%;max-width:100%;text-align:center;">
  </ion-row>
  <ion-row>
      <ion-col size="6" style="background-color:rgb(56,128,255);text-align: center;">
          <p style="color:white;font-size:18px;">Fuel<br><span
              style="color:rgb(247,247,247);font-size:11px;text-transform: uppercase;">Item Name</span></p>
        </ion-col>
    <ion-col size="6" style="background-color:rgb(56,128,255);text-align: center;">
      <p style="color:white;font-size:18px;">₱ 200.20<br><span
          style="color:rgb(247,247,247);font-size:11px;text-transform: uppercase;">Total Amount</span></p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item style="color:rgb(123,123,123);font-size:14px;">
        <ion-label style="color:rgb(56,128,255);">Date Purchased</ion-label>
        <ion-label>March 20, 2019</ion-label>
      </ion-item>
      <!-- <ion-item style="color:rgb(123,123,123);font-size:14px;">
        <ion-label style="color:rgb(56,128,255);">Item Name</ion-label>
        <ion-label>Fuel</ion-label>
      </ion-item> -->
      <ion-item style="color:rgb(123,123,123);font-size:14px;">
        <ion-label style="color:rgb(56,128,255);">Quantity</ion-label>
        <ion-label>5 liters</ion-label>
      </ion-item>
      <ion-item style="color:rgb(123,123,123);font-size:14px;">
        <ion-label style="color:rgb(56,128,255);">Vehicle Type</ion-label>
        <ion-label>Auto</ion-label>
      </ion-item>
      <ion-item style="color:rgb(123,123,123);font-size:14px;">
        <ion-label style="color:rgb(56,128,255);">Vehicle Model</ion-label>
        <ion-label style="white-space: normal;">Toyota Wigo TRD</ion-label>
      </ion-item>
      <ion-item style="color:rgb(123,123,123);font-size:14px;">
        <ion-label style="color:rgb(56,128,255);">Purchased at</ion-label>
        <ion-label>Caltex</ion-label>
      </ion-item>
      <ion-item style="color:rgb(123,123,123);font-size:14px;">
        <ion-label style="color:rgb(56,128,255);">Note</ion-label>
        <ion-label style="white-space: normal;">Sample text should be placed here</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="navs" (click)='add()'>
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>