<ion-content class="wholeContent">
  <ion-slides pager="true" style="height:100%;">

    <ion-slide padding>
      <div class="row"><br><br><br>
        <img src="./assets/imgs/traffic.png">
        <br><br><br>
        <ion-label color="primary" style="text-align:center;font-weight:bold;text-transform: uppercase;">Follow Traffic
          Signals
        </ion-label><br><br><br>
        <ion-label color="primary" routerLink="/home" style="text-align:end;text-decoration: underline;">SKIP</ion-label>
        <!-- <ion-button expand="block" fill="outline" color="primary" routerLink="/home">SKIP</ion-button> -->
      </div>
    </ion-slide>

    <ion-slide padding>
      <div class="row">
          <img src="./assets/imgs/belth2.png">
        <br><br><br>
        <ion-label color="primary" style="text-align:center;font-weight:bold;text-transform: uppercase;">Wear seat belt
          properly</ion-label><br><br>
      </div>
    </ion-slide>

    <ion-slide padding>
      <div class="row">
          <img src="./assets/imgs/text.png">
        <br><br><br>
        <ion-label color="primary" style="text-align:center;font-weight:bold;text-transform: uppercase;">Never text while
          driving
        </ion-label><br><br>
      </div>
    </ion-slide>

    <ion-slide padding>
      <div class="row">
          <img src="./assets/imgs/multitask.png">
        <br><br><br>
        <ion-label color="primary" style="text-align:center;font-weight:bold;text-transform: uppercase;">Don't try to
          multitask
        </ion-label><br><br>
      </div>
    </ion-slide>

    <ion-slide padding>
      <div class="row">
          <img src="./assets/imgs/aware.png">
        <br><br><br>
        <ion-label color="primary" style="text-align:center;font-weight:bold;text-transform: uppercase;">Be aware
        </ion-label><br><br>
      </div>
    </ion-slide>

    <ion-slide padding>
      <div class="row">
          <img src="./assets/imgs/weather.png">
        <br><br><br>
        <ion-label color="primary" style="text-align:center;font-weight:bold;text-transform: uppercase;">Pack a
          climate-appropriate emergency kit
        </ion-label><br><br>
      </div>
    </ion-slide>

    <ion-slide padding>
      <div class="row">
          <img src="./assets/imgs/patience.png">
        <br><br><br>
        <ion-label color="primary" style="text-align:center;font-weight:bold;text-transform: uppercase;">Exercise
          patience!
        </ion-label><br><br>
        <ion-button expand="block" fill="outline" color="primary" routerLink="/home">GOT IT!</ion-button>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>