<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header padding style="background-color:#4d9d46">
        <div style="width:auto;height:40px;text-align:center;">
        </div>
        <img src="./assets/imgs/rmlogo1.png">
        <!-- <ion-label style="color:white;text-transform:uppercase;letter-spacing:10px;text-align:center;">Car Buddy
          </ion-label> -->

            <ion-label style="color:white;text-transform: capitalize;">{{usr.issuedto}}</ion-label><br>
            <ion-card-subtitle style="color:white;">{{usr.username}}</ion-card-subtitle>

        <!-- rgb(56,128,255) -->
      </ion-header>
      <ion-content style="background-color:rgb(230,240,242);">
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" color="primary"></ion-icon>
              <p>
                {{p.title}}
              </p>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item (click)="logout()">
                <ion-icon slot="start" name="log-out" color="primary"></ion-icon>
                  <!-- <ion-button fill="clear">Logout</ion-button> -->
                  <ion-label>Logout</ion-label>
              </ion-item>
            </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>