<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>
        Vehicles
      </ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="notification()">
        <ion-icon slot="icon-only" name="notifications" style="color:white;" class="hydrated"></ion-icon>
        <!-- <ion-badge color="danger">12</ion-badge> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-card *ngFor="let item of vd">
    <img src="assets/imgs/{{item.vtype | lowercase }}icon.png" />
    <ion-card-content>
      <ion-card-title>
        {{item.vname}}
      </ion-card-title>
      <p>
        {{item.vmodel}}
      </p>
      <ion-button fill="solid" expand="block" (click)='view(item.vrecord_id)'>View</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="navs" (click)='add()'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content> -->

<ion-content class="wholeContent">
  <ion-card *ngFor="let item of vd; let i = index;"> 
    <img src="{{item.vimage_data}}" (click)="openview(i)">
    <ion-item-sliding style="border-right: 3px solid #33A532;" >
      <ion-item>
        <ion-label color="primary">{{item.vmodel}}<br>
          <ion-card-subtitle>Coding: {{item.vcoding}}<br></ion-card-subtitle>
        </ion-label>
        <ion-card-subtitle style="text-align:end;">{{item.vyear}}<br></ion-card-subtitle>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="light">
          <ion-icon name="trash" color="danger" style="font-size: 25px;" (click)="deleteAlert(item.vrecord_id)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-card>

  <!-- <ion-card (click)="openview();">
    <img src="../../assets/imgs/mio1.jpg">
    <ion-item-sliding style="border-right: 3px solid #33A532;">
      <ion-item>
        <ion-label color="primary">Yamaha Mio J Fl<br>
          <ion-card-subtitle>Coding: Friday<br></ion-card-subtitle>
        </ion-label>
        <ion-card-subtitle text-wrap style="text-align:end;">2015<br></ion-card-subtitle>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="light">
          <ion-icon name="trash" color="danger" style="font-size: 25px;"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-card> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="navs" (click)='add()'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>