<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>
        Services
      </ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event);">
        <ion-icon slot="icon-only" name="person" style="color:white;" class="hydrated"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="wholeContent">
  <ion-searchbar placeholder="Search" autocomplete="on" class="searcbar" padding></ion-searchbar>
  <ion-list>
    <ion-card style="border-left: 3px solid rgb(56,128,255);">
      <ion-item-sliding>
        <ion-item (click)="opencategory();">
          <ion-label text-wrap style="color:rgb(56,128,255);">Change Oil<br>
            <ion-card-subtitle>2 items</ion-card-subtitle>
          </ion-label>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option (click)="link()">Edit</ion-item-option>
          <ion-item-option color="danger" (click)="link()">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card style="border-left: 3px solid rgb(56,128,255);">
      <ion-item-sliding>
        <ion-item (click)="opencategory();">
          <ion-label text-wrap style="color:rgb(56,128,255);">Battery Maintenance<br>
            <ion-card-subtitle>2 items</ion-card-subtitle>
          </ion-label>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option (click)="link()">Edit</ion-item-option>
          <ion-item-option color="danger" (click)="link()">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card style="border-left: 3px solid rgb(56,128,255);">
      <ion-item-sliding>
        <ion-item (click)="opencategory();">
          <ion-label text-wrap style="color:rgb(56,128,255);">Replace Spark Plugs<br>
            <ion-card-subtitle>1 item</ion-card-subtitle>
          </ion-label>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option (click)="link()">Edit</ion-item-option>
          <ion-item-option color="danger" (click)="link()">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card style="border-left: 3px solid rgb(56,128,255);">
      <ion-item-sliding>
        <ion-item (click)="opencategory();">
          <ion-label text-wrap style="color:rgb(56,128,255);">Tire Repair<br>
            <ion-card-subtitle>5 items</ion-card-subtitle>
          </ion-label>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option (click)="link()">Edit</ion-item-option>
          <ion-item-option color="danger" (click)="link()">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="navs" (click)='add()'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>