<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Vehicle Details</ion-title>
    <ion-buttons slot="primary" (click)="close();">
      <ion-button>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<!-- <ion-content>
  <ion-card *ngFor="let item of vd">
    <ion-item>
      <ion-icon name="car" slot="start" style="font-size:60px;color:#107dac"></ion-icon>
      <ion-label>{{ item.vname}}<p style="font-size: 14px;margin-top:-2px;margin-bottom: 0">{{item.vtype}} -
          {{item.vmodel}}</p>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <p><span>Last Fueled: </span><span>{{item.fdate |date:'mediumDate'}}</span> </p>
      <p><span>Last Fueled Type: </span><span>{{item.ftype}}</span> </p>
      <p><span>Last Fueled Quantity: </span><span>{{item.fquantity}}</span> </p>
      <p><span>Last Fueled Cost: </span><span>₱ {{item.fcost |number : '1.2-2' }}</span> </p>
      <p><span>Last Fueled Center: </span><span>{{item.fstation}}</span> </p>
      <p><span>Last Service Type: </span><span>{{item.stype}}</span> </p>
      <p><span>Last Service Date: </span><span>{{item.sdate |date:'mediumDate'}}</span> </p>
      <p><span>Last Service Cost: </span><span>{{item.scost}}</span> </p>
      <p><span>Last Service Center: </span><span>{{item.scenter}}</span> </p>
    </ion-card-content>
  </ion-card>
</ion-content> -->

<ion-content *ngFor="let item of vd">
  <ion-row>
    <img src="{{item.vimage_data}}" style="height:200px;text-align:center;">
  </ion-row>
  <ion-row style="background-color:#4d9d46;" >
    <ion-col>
      <p style="color:white;font-size:20px;padding-left:17px;">{{item.vmodel}}<br><span
          style="color:rgb(247,247,247);font-size:12px;text-transform: uppercase;">{{item.vname}}</span></p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item style="color:rgb(123,123,123);font-size:14px;">
        <ion-label color="primary">Vehicle Type</ion-label>
        <ion-label>{{item.vtype}}</ion-label>
      </ion-item>
      <ion-item style="color:rgb(123,123,123);font-size:14px;">
        <ion-label color="primary">Year</ion-label>
        <ion-label>{{item.vyear}}</ion-label>
      </ion-item>
      <ion-item style="color:rgb(123,123,123);font-size:14px;">
        <ion-label color="primary">Coding Schedule</ion-label>
        <ion-label>{{item.vcoding}}</ion-label>
      </ion-item>
      <!-- <ion-item style="color:rgb(123,123,123);font-size:14px;">
        <ion-label style="white-space: normal;" color="primary">Odd/Even Scheme Schedule</ion-label>
        <ion-label>Monday and Wednesday</ion-label>
      </ion-item> -->
      <ion-item style="color:rgb(123,123,123);font-size:14px;">
        <ion-label color="primary">Note</ion-label>
        <ion-label style="white-space: normal;">{{item.vnotes}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="navs" (click)='add()'>
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>