<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>
        User Account
      </ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="notification($event);">
        <ion-icon slot="icon-only" name="notifications" style="color:white;" class="hydrated"></ion-icon>
        <!-- <ion-badge color="danger">12</ion-badge> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="wholeContent">
  <ion-icon name="person" color="primary" style="font-size:70px;position:relative;top:40px;left:43%;"></ion-icon>
  <br><br><br><br>
  <ion-card style="background-color:white;" padding>
    <form (submit)="processUpdateU($event)">
      <ion-item>
        <ion-label position="stacked" color="primary">Firstname</ion-label>
        <ion-input type="text" [value]="vd.usr_firstname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Lastname</ion-label>
        <ion-input type="text"  [value]="vd.usr_lastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Select Gender</ion-label>
        <ion-select >
          <ion-select-option value="1" [selected]="vd.usr_gender==1">Male</ion-select-option>
          <ion-select-option value="2" [selected]="vd.usr_gender==2" >Female</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Email</ion-label>
        <ion-input type="email"  [value]="vd.usr_email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Current Password</ion-label>
        <ion-input type="password"  ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">New Password</ion-label>
        <ion-input type="password"  ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Confirm New Password</ion-label>
        <ion-input type="password"  ></ion-input>
      </ion-item>
      <!-- <br><br>
      <img src="../../assets/imgs/imag1.png" style="position:relative;top:20px;left:35%;height:85px;width:105px;">
      <br><br>
      <ion-card-subtitle style="text-align:center;">Tap to upload image</ion-card-subtitle><br><br><br> -->
      <br><br><br>
      <ion-button type="submit" expand="full" color="primary" >Update</ion-button>
    </form>
  </ion-card>

</ion-content>