<ion-header no-shadow no-border>
  <ion-toolbar color="navs">
    <ion-buttons end >
      <button ion-button (click)="startApp()" color="light">Skip</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <ion-slides pager="true" >

    <ion-slide style="background-color: #107dac">
      <!-- <div><h1>Slide 1</h1></div><br> -->
      <!-- <img  src="/assets/imgs/welcome1.png" class="slide-image" > -->
      <!-- <div><h2 class="slide-title">Welcome To CarApp</h2></div> -->
      <!-- <p  class="slide-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p> -->


      <div class="swiper-zoom-container">
        <img  src="/assets/imgs/welcome1.png" class="slide-image">
      </div>
      <ion-label>Woof</ion-label>
    </ion-slide>
  
    <ion-slide style="background-color: #107dac">
      <img  src="/assets/imgs/welcome2.png" class="slide-image" >
      <h2 class="slide-title">Track your car transaction</h2>
      <p  class="slide-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </ion-slide>
  
    <ion-slide style="background-color: #107dac">
      <img  src="/assets/imgs/welcome3.png" class="slide-image" >
      <h2 class="slide-title">Track your car status</h2>
      <p  class="slide-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      <!-- <button ion-button icon-end large clear (click)="startApp()" color="light">
        Starts
        <ion-icon name="arrow-forward"></ion-icon>
      </button> -->
    </ion-slide>

  </ion-slides>

</ion-content>
