.slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
  }
  .slide-title{
    color:white;
}
.slide-text{
    color:white;
}
ion-slides.slides {
    height: auto;
    align-items: flex-start !important;
  }

  .swiper-pagination {
    bottom: 0px;
  }
  ion-slide.swiper-slide {
    align-items: flex-start !important;
}