.splash-logo {
  margin: auto;
  // background:url("/assets/imgs/blanklogo.png") repeat transparent;
 
  width: auto;
  height: auto;
  margin-top:10%;
  margin-bottom:10px;
  text-align:center;
}
.login{
    float:right;
    color:white;
    padding-right: 5px;
    padding-top: 22px;
    font-size: 18px;
}
button.loginbtn {
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }

  ion-content{

    --ion-background-color: #e6f0f2;
}
ion-item{

  --ion-background-color: white;
}

