<ion-content>
  <div class="splash-logo">
    <!-- <ion-label style="color:white;letter-spacing:14px;font-weight:bold;">ROAD MATE</ion-label> -->
    <img src="./assets/imgs/rmlogo2.png" style="position:relative;">
  </div>

  <div padding>
    <form (submit)="signup($event)">
      <ion-item>
        <ion-input type="text" placeholder="Firstname" clearInput style="color:black;"></ion-input>
      </ion-item>

      <ion-item style="margin-top:2%;">
        <ion-input type="text" placeholder="Lastname" clearInput style="color:black;"></ion-input>
      </ion-item>

      <ion-item style="margin-top:2%;">
        <ion-label style="color: black">Select Gender</ion-label>
        <ion-select>
          <ion-select-option value="1">Male</ion-select-option>
          <ion-select-option value="0">Female</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item style="margin-top:2%;">
        <ion-input type="text" placeholder="Email Address" clearInput style="color:black;"></ion-input>
      </ion-item>

      <ion-item style="margin-top:2%;">
        <ion-input type="password" placeholder="Password" clearInput style="color:black;"></ion-input>
      </ion-item>
      <div text-center style="margin-top:5%;">
        <ion-button type="submit" expand="block" fill="outline" color="primary">Register</ion-button>
        <ion-button (click)="login()" expand="block" fill="outline" color="primary">Cancel</ion-button>
      </div>
    </form>
  </div>
</ion-content>