<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add new expenses</ion-title>
    <ion-buttons slot="primary" (click)="close();">
      <ion-button>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <!-- <form  (submit)="processAddFuel($event)"  >
    <ion-card>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <div class="splash-logo"></div>
          </ion-item>
          <ion-item>
            <ion-label>Vehicle Name</ion-label>
            <ion-select placeholder="Select One" text-wrap>
              <ion-select-option *ngFor="let car of cars" [value]="car.vinfo_id">{{car.vname}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Fuel Type</ion-label>
            <ion-select placeholder="Select One" text-wrap>
              <ion-select-option value="Diesel">Diesel</ion-select-option>
              <ion-select-option value="Regular">Regular</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-icon item-left name="cart" style="color:#107dac"></ion-icon>
            <ion-label style="margin-left: 25px">Fuel Quantity :</ion-label>
            <ion-input type="number" clearInput style="color:black"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon item-left name="cash" style="color:#107dac"></ion-icon>
            <ion-label style="margin-left: 25px">Fuel Cost :</ion-label>
            <ion-input type="number" clearInput style="color:black"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon item-left name="compass" style="color:#107dac"></ion-icon>
            <ion-label style="margin-left: 25px">Station :</ion-label>
            <ion-input type="text" clearInput style="color:black"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon item-left name="speedometer" style="color:#107dac"></ion-icon>
            <ion-label style="margin-left: 25px">Odometer Reading :</ion-label>
            <ion-input type="text" clearInput style="color:black"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon item-left name="list" style="color:#107dac"></ion-icon>
            <ion-label style="margin-left: 25px">Note :</ion-label>
            <ion-input clearInput></ion-input>
          </ion-item>
          <ion-button type="submit" expand="block" fill="solid" style="margin-top:10px">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </form> -->

  <form (submit)="processAddFuel($event)">
    <ion-item>
      
      <ion-label position="stacked">Date Purchased</ion-label>
      <ion-input type="calendar" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Items</ion-label>
      <ion-input clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Quantity</ion-label>
      <ion-input clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Unit</ion-label>
      <ion-input clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Total Amount</ion-label>
      <ion-input clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Vehicle Type</ion-label>
      <ion-input clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Vehicle Model</ion-label>
      <ion-input clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Purchased at</ion-label>
      <ion-input clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Note</ion-label>
      <ion-textarea clearInput height="20px"></ion-textarea>
    </ion-item>
    <br><br><br><br>
    <ion-icon name="camera" color="light" style="text-align:center;"></ion-icon>
    <ion-card-subtitle style="text-align:center;">Click here to take Receipt Picture</ion-card-subtitle>
    <br><br><br><br>
    <ion-button expand="full" shape="round">Add</ion-button>
  </form>
</ion-content>