<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>
        Travel Safety Checklist
      </ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications" style="color:white;" class="hydrated"></ion-icon>
        <!-- <ion-badge color="danger">12</ion-badge> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="wholeContent">
  <ion-slides pager="true" style="height:100%;">
    <ion-slide padding>
      <div class="row">
        <ion-icon name="cog" color="primary" style="font-size:70px;"></ion-icon>
        <br><br><br>
        <ion-label color="primary" style="text-align:center;font-weight:bold;text-transform: uppercase;">Check Tire
          Pressure</ion-label><br><br>
        <ion-card-subtitle>Proper tire pressure is important because underinflated tires flex more and build up heat
          that can lead to failure and possibly even an accident.</ion-card-subtitle>
        <!-- <ion-button expand="block" fill="outline" color="primary" routerLink="/tabs/home">Continue</ion-button> -->
      </div>
    </ion-slide>

    <ion-slide padding>
      <div class="row">
        <ion-icon name="checkmark" color="primary" style="font-size:70px;"></ion-icon>
        <br><br><br>
        <ion-label color="primary" style="text-align:center;font-weight:bold;text-transform: uppercase;">Hoses
        </ion-label><br><br>
        <ion-card-subtitle>Rubber hoses would last 10 years if all they did were sit on a shelf. In a car, they are
          regularly exposed to temperatures around the 212-degree boiling point. At high temps, the plasticizers that
          make rubber squishy leach out at a faster rate.
        </ion-card-subtitle>
        <!-- <ion-button expand="block" fill="outline" color="primary" routerLink="/tabs/home">Continue</ion-button> -->
      </div>
    </ion-slide>

    <ion-slide padding>
      <div class="row">
        <ion-icon name="snow" color="primary" style="font-size:70px;"></ion-icon>
        <br><br><br>
        <ion-label color="primary" style="text-align:center;font-weight:bold;text-transform: uppercase;">Engine coolant
        </ion-label><br><br>
        <ion-card-subtitle>New vehicles come equipped with engine coolant designed to go 100,000 to 150,000 miles. If
          your car is less than four years old, check that the under-hood coolant reservoir – usually a clear plastic
          bottle that says “engine coolant” on the cap – is topped up.</ion-card-subtitle>
        <!-- <ion-button expand="block" fill="outline" color="primary" routerLink="/tabs/home">Continue</ion-button> -->
      </div>
    </ion-slide>

    <ion-slide padding>
      <div class="row">
        <ion-icon name="car" color="primary" style="font-size:70px;"></ion-icon>
        <br><br><br>
        <ion-label color="primary" style="text-align:center;font-weight:bold;text-transform: uppercase;">Brake system
        </ion-label><br><br>
        <ion-card-subtitle>Brake fluid is a hygroscopic mineral oil, meaning that it attracts and absorbs moisture. As
          it ages, it turns the color of
          maple syrup and begins rusting your brake components. Check your brake reservoir for the color of the fluid,
          and make sure that it is topped up to the “full” mark. If you haven’t had a flush in two or three years, get
          one before you leave.</ion-card-subtitle>
        <!-- <ion-button expand="block" fill="outline" color="primary" routerLink="/tabs/home">Continue</ion-button> -->
      </div>
    </ion-slide>

    <ion-slide padding>
      <div class="row">
        <ion-icon name="battery-charging" color="primary" style="font-size:70px;"></ion-icon>
        <br><br><br>
        <ion-label color="primary" style="text-align:center;font-weight:bold;text-transform: uppercase;">Battery
        </ion-label><br><br>
        <ion-card-subtitle>If the battery in your car is more than a couple years old, check that the terminals are
          corrosion-free and the positive and negative leads are tight. If your starter sounds sluggish, it’s either
          corrosion or a dying battery. Don’t wait to be stranded with a dead battery.</ion-card-subtitle>
        <!-- <ion-button expand="block" fill="outline" color="primary" routerLink="/tabs/home">Continue</ion-button> -->
      </div>
    </ion-slide>

    <ion-slide padding>
      <div class="row">
        <ion-icon name="water" color="primary" style="font-size:70px;"></ion-icon>
        <br><br><br>
        <ion-label color="primary" style="text-align:center;font-weight:bold;text-transform: uppercase;">Transmission
          and differential fluids</ion-label><br><br>
        <ion-card-subtitle>Did you forget about the other oil reservoirs in your car? Both your transmission and drive
          axle have their own lubricant supply. Check your owner’s manual for their change intervals, as they are quite
          a bit longer than engine oil.</ion-card-subtitle>
        <!-- <ion-button expand="block" fill="outline" color="primary" routerLink="/tabs/home">Continue</ion-button> -->
      </div>
    </ion-slide>
    
    <ion-slide padding>
      <div class="row">
        <ion-icon name="logo-model-s" color="primary" style="font-size:70px;"></ion-icon>
        <br><br><br>
        <ion-label color="primary" style="text-align:center;font-weight:bold;text-transform: uppercase;">Test the car
        </ion-label><br><br>
        <ion-card-subtitle>Lastly, do a quick run up the local freeway to listen for noises, feel for shakes, and watch for
          trouble signs in the gauges. Don’t assume everything is fine just because you drive your car every day. This
          is a test, not a commute, so focus on your car.</ion-card-subtitle>
        <!-- <ion-button expand="block" fill="outline" color="primary" routerLink="/tabs/home">Continue</ion-button> -->
      </div>
    </ion-slide>
    
    <ion-slide padding style="background-color:#4d9d46;">
      <div class="row">
        <ion-icon name="thumbs-up" color="light" style="font-size:70px;"></ion-icon>
        <br><br><br>
        <ion-label color="light" style="text-align:center;font-weight:bold;text-transform: uppercase;">READY TO GO!
        </ion-label><br><br>
        <ion-card-subtitle style="color:white;">Make sure you follow all the reminders and check all the things needed in order to travel safe and have a good time!</ion-card-subtitle>
        <!-- <ion-button expand="block" fill="outline" color="primary" routerLink="/tabs/home">Continue</ion-button> -->
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>