<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>
        Expenses
      </ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event);">
        <ion-icon slot="icon-only" name="settings" style="color:white;" class="hydrated"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <ion-card *ngFor="let item of fe">
    <ion-item>
      <ion-icon name="cash" slot="start" style="font-size:40px;color:#107dac"></ion-icon>
      <ion-label>{{ item.vname }}<p style="font-size: 14px;margin-top:-2px;margin-bottom: 0">{{item.ftype}}</p>
      </ion-label>
      <ion-button fill="clear" item-end (click)="view(item.frecord_id)">View</ion-button>
    </ion-item>
    <ion-card-content>
      <p *ngIf="item.fdate ; else notShow"><span
          style="font-size: 100%;color:green">{{ item.fdate| date:'mediumDate'}}</span><span
          style="float:right;font-size: 100%;color:green">₱ {{item.fcost | number : '1.2-2'}}</span></p>
      <ng-template #notShow>
        <p><span style="font-size: 100%;color:green">{{today | date:'mediumDate'}}</span><span
            style="float:right;font-size: 100%;color:green">₱ {{item.fcost |number : '1.2-2' }}</span></p>
      </ng-template>
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-card style="border-left: 3px solid rgb(56,128,255);">
    <ion-item-sliding>
      <ion-item (click)="view();">
        <ion-label text-wrap>January 10, 2019<br>
          <span style="color:rgb(147, 147, 147);font-size:13px;">Created on: January 10, 2019</span></ion-label>
      </ion-item>
      <ion-card-content>
        <p style="float:right;font-size: 100%;color:green">₱ 220.40</p>
      </ion-card-content>
      <ion-item-options side="start">
        <ion-item-option (click)="link">Edit</ion-item-option>
        <ion-item-option color="danger" (click)="link">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="navs" (click)='add()'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <!-- style="color:rgb(56,128,255);" -->

  <ion-content class="wholeContent">
    <!-- <ion-row >
      <ion-col size="10">
        <ion-searchbar placeholder="Search" autocomplete="on" class="searcbar"></ion-searchbar>
      </ion-col>
      <ion-col size="2"><br>
        <ion-buttons style="padding-right:35px;padding-bottom:12px;">
          <ion-button (click)="presentPopover($event);">
            <ion-icon slot="icon-only" name="more" color="primary" style="font-size:32px;"></ion-icon>
          </ion-button> 
        </ion-buttons>
      </ion-col>
    </ion-row> -->
    <ion-searchbar placeholder="Search" autocomplete="on" class="searcbar" padding></ion-searchbar>
    <ion-card style="border-left: 3px solid rgb(56,128,255);">
      <ion-item-sliding>
        <ion-item (click)="openview();">
          <ion-label text-wrap style="color:rgb(56,128,255);">Fuel<br>
            <ion-card-subtitle>₱ 200.20</ion-card-subtitle>
          </ion-label>
          <ion-card-subtitle text-wrap style="text-align:end;">Toyota Wigo<br>
            <ion-card-subtitle>March 20, 2019</ion-card-subtitle>
          </ion-card-subtitle>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="danger">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card style="border-left: 3px solid rgb(56,128,255);">
      <ion-item-sliding>
        <ion-item (click)="openview();">
          <ion-label text-wrap style="color:rgb(56,128,255);">Battery<br>
            <ion-card-subtitle>₱ 300.20</ion-card-subtitle>
          </ion-label>
          <ion-card-subtitle text-wrap style="text-align:end;">Yamaha Mio<br>
            <ion-card-subtitle>March 6, 2019</ion-card-subtitle>
          </ion-card-subtitle>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="danger">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card style="border-left: 3px solid rgb(56,128,255);">
      <ion-item-sliding>
        <ion-item (click)="openview();">
          <ion-label text-wrap style="color:rgb(56,128,255);">Tire<br>
            <ion-card-subtitle>₱ 130.80</ion-card-subtitle>
          </ion-label>
          <ion-card-subtitle text-wrap style="text-align:end;">Toyota Wigo<br>
            <ion-card-subtitle>February 13, 2019</ion-card-subtitle>
          </ion-card-subtitle>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="danger">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card style="border-left: 3px solid rgb(56,128,255);">
      <ion-item-sliding>
        <ion-item (click)="openview();">
          <ion-label text-wrap style="color:rgb(56,128,255);">Side Mirror<br>
            <ion-card-subtitle>₱ 220.00</ion-card-subtitle>
          </ion-label>
          <ion-card-subtitle text-wrap style="text-align:end;">Toyota Wigo<br>
            <ion-card-subtitle>February 20, 2019</ion-card-subtitle>
          </ion-card-subtitle>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="danger">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card style="border-left: 3px solid rgb(56,128,255);">
      <ion-item-sliding>
        <ion-item (click)="openview();">
          <ion-label text-wrap style="color:rgb(56,128,255);">Rag<br>
            <ion-card-subtitle>₱ 200.20</ion-card-subtitle>
          </ion-label>
          <ion-card-subtitle text-wrap style="text-align:end;">Yamaha Mio<br>
            <ion-card-subtitle>January 20, 2019</ion-card-subtitle>
          </ion-card-subtitle>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="danger">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="navs" (click)='add()'>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>