<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>
        Home
      </ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="notification($event);">
        <ion-icon slot="icon-only" name="notifications" style="color:white;" class="hydrated"></ion-icon>
        <!-- <ion-badge color="danger">12</ion-badge> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="wholeContent">
  <ion-row >
    
    <ion-col size="12" style="text-align:center;">
      <br><br>
      <ion-label color="primary">
        <span color="primary" style="color:rgb(52,106,30);font-size:15px;letter-spacing:20px;text-transform: uppercase;text-align: center;">TODAY</span><br><br>
        <span color="primary" style="color:rgb(52,106,30);font-size:23px;font-weight:bold;letter-spacing:2px;text-transform: uppercase;">{{currentDate | date:"MMM dd, yyyy"}}</span><br>
      </ion-label>
    </ion-col>
    
  </ion-row>
  <br><br>
  <ion-card style="background-color:white;" padding>
    <ion-label style="color:rgb(52,106,30);font-size:12px;text-transform: uppercase;text-align:center;">Upcoming Holiday/s</ion-label>
    <ion-item style="color:rgb(123,123,123);font-size:14px;" *ngFor="let d of vd;let i=index">
      <ion-label color="primary">{{d.h_date| date:"MMM. dd"}}</ion-label>
      <ion-label style="white-space: normal;">{{d.h_description}}</ion-label>
      <!-- <ion-label style="white-space: normal;" *ngIf="d.h_type==1">Regular holiday</ion-label>
      <ion-label style="white-space: normal;" *ngIf="d.h_type==2">Special non-working holiday</ion-label>
      <ion-label style="white-space: normal;" *ngIf="d.h_type==3">Season</ion-label>
      <ion-label style="white-space: normal;" *ngIf="d.h_type==4">Common local holiday</ion-label>
      <ion-label style="white-space: normal;" *ngIf="d.h_type==5">Observance</ion-label>
      <ion-label style="white-space: normal;" *ngIf="d.h_type==6">Religional common local holiday</ion-label> -->
    </ion-item>
  </ion-card>

  <ion-card style="background-color:white;" padding>
      <ion-label style="color:rgb(52,106,30);font-size:12px;text-transform: uppercase;text-align:center;">Upcoming Reminder/s</ion-label>
    <ion-item style="color:rgb(123,123,123);font-size:14px;">
      <ion-label color="primary">Change Oil</ion-label>
      <ion-label style="white-space: normal;">4 day/s to go</ion-label>
    </ion-item>
    <ion-item style="color:rgb(123,123,123);font-size:14px;">
      <ion-label color="primary" style="white-space: normal;">Tire Maintenance</ion-label>
      <ion-label style="white-space: normal;">10 day/s to go</ion-label>
    </ion-item>
    <ion-item style="color:rgb(123,123,123);font-size:14px;">
      <ion-label color="primary" style="white-space: normal;">Battery Maintenance</ion-label>
      <ion-label style="white-space: normal;">12 day/s to go</ion-label>
    </ion-item>
  </ion-card>

</ion-content>